####################
########### OPEN AI API
####################
PRIVATE_OPENAI_API_KEY=

####################
########### SUPABASE
####################

# You can generate your local environment variables using: supabase status

PUBLIC_SUPABASE_URL=http://127.0.0.1:54321

PRIVATE_SUPABASE_KEY=

PUBLIC_SUPABASE_ANON_KEY=

DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

DIRECT_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
####################
########### OTHER
####################